html body {
    margin: 0;
    padding: 0;
}

body{
    background: rgb(31, 31, 31);
    text-align: center;
}

h1 {
    margin: 10% auto 10px;
    color: wheat;
    font-size: 4rem;
}

.btn{
    background: orangered;
    width: 200px;
    height: 80px;
    font-size: 1.5rem;
    border-radius: 10px;
    margin: 20px auto;
}

a {
    font-size: 2rem;
}