html, body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
}

body{
    height: 100vh;
    width: 100vw;
    /* background: rgb(1,196,15);
    background: radial-gradient(circle, rgba(1,196,15,1) 0%, rgba(0,172,19,1) 52%, rgba(0,124,5,1) 100%); */
    background: rgb(0, 27, 2);
    background: radial-gradient(circle, rgb(67, 77, 67) 0%, rgb(36, 41, 37) 52%, rgb(7, 22, 7) 100%);
    box-sizing: border-box;
    overflow-y: hidden;
}

h3{
    margin: 5px;
}

.container{
    display: block;
    position: relative;
    justify-content: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.table{
    /* min-width: 600px;
    min-height: 600px; */
    justify-content: center;
    justify-items: center;
}

.player-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.stats{
    justify-self: center;
    align-self: center;
    text-align: center;
    /* background-color: #285028; */
    border-radius: 50%;
    height: 100px;
    width: 100px;
    /* box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.5); */
}

.stats h2{
    color: rgb(200, 200, 200);
    font-size: 1.2rem;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
    margin: 32px auto 0px;
}

.stats h3{
    color: rgb(200, 200, 200);
    font-size: 1.3rem;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
    margin: 5px auto;
}

.stats div{
    display: flex;
    
    margin: 0px auto;
    align-items: center;
    text-align: center;
    /*height: 100px;
    width: 100px;
    /*background-color: rgba(51, 255, 0, 0.3);
    border-radius: 20%;
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.5);*/
}

.player{
    display: grid;
    grid-template-columns: repeat(10, 35px);
    justify-content: center;
    align-content: center;
    margin: 10px 0;;
    min-height: 25vh;
}

.player img{
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
    transform: rotate(2deg);
    height: 25vh;
    width: auto;
}

#game-stats{
    /* display: flex; */
    justify-items: end;
    text-align: right;
    padding: 30px;
    line-height: 1.5rem;
    color: whitesmoke;
}

#game-stats > p{
    padding: 5px;
}

.controls{
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    align-content: center;
    align-items: center;
}

.bet-panel{
    position: absolute;
    text-align: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    height: 25%;
    width: 100%;
    /* border: 2px solid yellow; */
    background-color: #285028;
    box-sizing: border-box;
    animation: raise 500ms ease;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
}

.bank{
    color: white;
}


.btn{
    height: 80px;
    width: 80px;
    border: 0;
    outline: 0;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: rgba(4, 105, 0, 0.7);
    box-shadow: 0px 0px 16px 1px rgba(0, 80, 0, 0.5);
    transition: all 200ms ease-in;
    margin: 2vh;
}

#dealBtn{
    justify-self: center;
}


.btn--rnd{
        border: none;
        border-radius: 50%;
}

.btn:hover{
    transform: scale(1.05);
    background-color: rgba(38, 243, 38, 0.7);
}

button::-moz-focus-inner, a::-moz-focus-inner { border:0; }

.hide{
    opacity: 0;
    animation: fade 1s ease forward;
}

.lower{
    left: -100%;
    animation: lower 500ms ease;
}

.winner{
    animation: 1500ms linear 500ms infinite alternate win;
}

.loser{
    animation: lose 1500ms ease forwards;
}

@keyframes fade{
    from {
        opacity: 1;
        pointer-events: all;
    }
    to{
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes lower{
    from {
        left: 0px;
    }
    to {
        left: -100%;
    }
}

@keyframes raise{
    from {
        left: -100%;
    }
    to {
        left: 0px;
    }
}

@keyframes win{
    from {
        background-color: none;
        /* box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.5); */
    }
    to {
        background-color: rgba(0, 255, 0, .8);
        box-shadow: 0px 0px 20px 4px rgba(0, 255, 0, 1);
    }
}

@keyframes lose{
    from {
        background-color: #285028;
        box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.5);
    }
    to {
        background-color: rgba(255, 0, 0, .8);
        box-shadow: 0px 0px 20px 4px rgba(180, 0, 0, 0.55);
    }
}
